<!--  Created by TAODELL on 2014/11/5. -->



    <div class="row" ng-show="login">
        <div class="col-xs-3"><a href="/neworder">我要洗衣</a></div>
        <div class="col-xs-3"><a href="/order">我的衣单</a></div>
        <div class="col-xs-3"><a href="/myaccount">我的帐户</a></div>
        <div class="col-xs-3"><a href="/logout">退出登陆</a></div>
    </div>

    <div class="row" ng-hide="login">
        <div class="col-xs-6"><a ng-href="/#/login1">老用户登陆</a></div>
        <div class="col-xs-6"><a href="/signup">我是新用户</a></div>
    </div>

