<!--  Created by TAODELL on 2014/11/5. -->

<div class="row">
    <div class="col-xs-2">用户名/手机号</div>
    <div class="col-xs-4"><input type = "text" ng-model="login_name" ></div>
</div>
<div class="row">
    <div class="col-xs-2">密码</div>
    <div class="col-xs-4"><input type = "password" ng-model="login_pswd" ></div>
</div>
<div class="row">
    <div class="col-xs-4" ng-bind="login_tip"></div>
    <div class="col-xs-2"><button type="button" ng-click="submit_login()" class="btn">登陆</button></div>
</div>


