
<div class="row">
    <div class="col-xs-12"><h4>新订单</h4></div>
</div>

<div class="row">
    <div class="col-xs-2">联系人姓名</div>
    <div class="col-xs-4"><input type = "text" ng-model="order.name" ></div>
</div>
<div class="row">
    <div class="col-xs-2">联系人手机号码</div>
    <div class="col-xs-4"><input type = "text" ng-model="order.mobile"></div>
</div>
<div class="row">
    <div class="col-xs-2">取件地址</div>
    <div class="col-xs-4"><input type = "text" ng-model="order.pick_addr"></div>
</div>
<div class="row">
    <div class="col-xs-2">送件地址</div>
    <div class="col-xs-4"><input type = "text" ng-model="order.drop_addr"></div>
<div class="row">
    <a ng-click="submit()" href="">确认下单</a>
</div>

<div class="row">
    <div class="col-xs-2"><a href="/#/">首页</a> </div>
    <div class="col-xs-2"><a href="/#/myaccount">我的帐户</a> </div>
    <div class="col-xs-2"><a href="/#/order">我的衣单</a> </div>
</div>